@model Clinica_Medic.Models.Historial

@{
    ViewData["Title"] = "Edit";
}


<h4>Historial Medico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Sintomas" class="control-label"></label>
                <input asp-for="Sintomas" class="form-control" />
                <span asp-validation-for="Sintomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicamento" class="control-label"></label>
                <input asp-for="Medicamento" class="form-control" />
                <span asp-validation-for="Medicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrucciones" class="control-label"></label>
                <input asp-for="Instrucciones" class="form-control" />
                <span asp-validation-for="Instrucciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Examen" class="control-label"></label>
                <input asp-for="Examen" class="form-control" />
                <span asp-validation-for="Examen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
